html
  background: url(background.jpg) top center fixed

// iPhone
@media only screen and (max-device-width: 480px)
  html
    background-image: url(background-small.jpg)

body
  background: white
  width: 600px
  margin: 100px auto
  text-align: center
  font-family: "Lucida Grande", sans-serif
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5)
  -moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5)

h1, h2
  padding: 8px
  font-family: helvetica, sans-serif
  text-transform: uppercase

h1
  margin-top: 0
  background: #f99
  color: white

h2
  font-size: 1.1em
  
#message
  margin: 12px 0

  &.drink, &.no-drink
    font-weight: bold

  a
    color: inherit

#noun
  margin: 12px 0 24px
  width: 75%
  font-size: 24pt
  text-align: center

#history
  h2
    background: #b9f
    color: #96c
  
  ul
    margin: 0
    padding: 0 12px
    list-style: none
    text-align: left

    li
      display: inline

      &:before
        content: ", "
        color: #ccc

      &:first-child:before
        content: ""

#new-game
  h2
    background: #ff9
    color: #cc6
    font-size: 0.8em

    a
      color: #cc6
      padding: 0 3px

      &:hover
        color: #ff9
        background: #cc6
        text-decoration: none

.drink
  color: #c66

.no-drink
  color: #9c6

